<div class = "row my-2">
<div class = "glass col p-4" id="subscribePanel">
    <h2>Mailing list</h2>
    <p>Subscribe to our mailing list for new updates. We hate spam, your email address will not be shared with anyone else. Unsubscribe at any time.</p>
<form action="https://buttondown.email/api/emails/embed-subscribe/spimescape" method="post" target="popupwindow" class="embeddable-buttondown-form" idx="newsletter">
  <div hidden aria-hidden="true">
    <label>
      Don’t fill this out if you're human: 
      <input name="bot-field" />
    </label>
  </div>
  <input type="hidden" value="1" name="embed" />
  <div class="row justify-content-start">
    <div class ="col pb-2">
      <label for="first-name" style="width:7rem">First name</label>
      <input  id="first-name" style="width:20rem" type="text"  name="metadata__first-name"  required  placeholder="e.g. John"/>
      </div>
    </div>
  <div class="row justify-content-start">
    <div class ="col pb-2">
    <label for="email" style="width:7rem">Email</label>
    <input type="email" style="width:20rem" name="email" placeholder="enter Email address" id="email" required />
    </div>
    </div>
  <div class="d-none row justify-content-start pb-2">
    <div class ="col-12 col-md-2">Topics :-</div>
        <div class ="col-12 col-md-2 pb-2">
      <div class="form-check">
        <input  id="News" class="form-check-input" value="News" type="checkbox"  name="tag" checked/>
        <label for="News" class="form-check-label">News</label>
      </div>
    </div>
    <div class ="col-12 col-md-2 pb-2">
      <div class="form-check">
        <input  id="Articles" class="form-check-input" value="Articles" type="checkbox"  name="tag" checked/>
        <label for="Articles" class="form-check-label">Articles</label>
      </div>
    </div>
    <div class ="col-12 col-md-2 pb-2">
      <div class="form-check">
        <input  id="Journal" class="form-check-input" value="Dev journal" type="checkbox"  name="tag" checked/>
        <label for="Journal" class="form-check-label">Dev journal</label>
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class ="col">
    <button type="submit" style="width:7rem">Subscribe</button>
    </div>
    </div>
</form>
</div>
</div>


