//This is an example of how you can change BS5 variables. Just add the changed variables here and they will overwrite the defaults.
// We changed the default font and the default $blue color (which is set as $primary as well)
$primary: #fd7e14;

$body-bg: #000;
$body-color: #EEE;
