---
layout: layouts/blank.njk
backgroundurl: ./src/img/shubham-dhage-JD0mUVw-qHU-unsplash.jpg
backgroundcredit: background by&nbsp;<a href="https://unsplash.com/@theshubhamdhage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shubham Dhage</a>&nbsp;on&nbsp;<a href="https://unsplash.com/@theshubhamdhage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
---

<div class="glass container my-vh-3">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 my-4 text-center">
      <h1 class="display-1">
        Spimeverse
      </h1>
      <p class="lead">An open distributed persistent online virtual world</p>
      <p class="lead">Spimeverse is a work in progress and pre-pre-alpha 👶</p>
    </div>
  </div>
</div>

<div class="glass wrapper position-relative my-vh-5 m-2">
  <div class="container position-relative py-vh-4">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12">
      <h2 class="text-center display-3">
        Project Goals
      </h2>
      </div>
      <div class="col-12 col-lg-5">
        <h2 class="h2">Open 🔓</h2>
        <p>Anyone should be able to download the source and run their own world on their laptop or host it on any server they wish. Just like you can create a website and host it yourself.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Ubiquitous 🌐</h2>
        <p>Work on a wide range of platforms. It should be usable on everything from phones to room-scale VR and AR. Like the web, it should ‘progressively enhance’ experiences on more capable systems.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Creative 👩‍🎨</h2>
        <p>Creating worlds, objects and avatars should be simple and fun. Making or changing the environment should literally be child's play. Creators should be able to share or sell their creations.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Decentralized 🌍</h2>
        <p>Users data and identity should be served from one or many hosts. Their identity, worlds, and virtual possessions shouldn’t change when they move server.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Low Cost 💰</h2>
        <p>Hosting virtual worlds should be no more expensive than hosting web pages. Transaction charges for services or virtual items should be low or free. Users should be able to buy items for a few cents.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Persistent 💫</h2>
        <p>Changes to the worlds, the state of objects, and users avatars should persist across <b>sp</b>ace and t<b>ime</b> as 'Spimes' not frozen unchanging and immutable NFT’s</p>
      </div>
    </div>
  </div>
</div>

<div class="m-3">
  <div class="row">
    <div class="glass col m-1 mx-2 d-flex justify-content-center">
      <h2><a class="link-fancy" href="roadmap">Roadmap&nbsp;🚀</a></h2>
    </div>
    <div class="glass col m-1 mx-2 d-flex justify-content-center">
      <h2><a class="link-fancy" href="news">News&nbsp;📖</a></h2>
    </div>
  </div>
</div>

<div class="container">
  {% include 'snippets/subscribe.njk' %}
</div>

