---
layout: layouts/blog.njk
title: News
pagination:
    data: collections.post
    size: 3
    reverse: true
    alias: posts
backgroundurl: ./src/img/shubham-dhage-xYlf6Edpc-k-unsplash.jpg
backgroundcredit: background by&nbsp;<a href="https://unsplash.com/@theshubhamdhage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shubham Dhage</a>&nbsp;on&nbsp;<a href="https://unsplash.com/@theshubhamdhage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
---


