---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/default.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
backgroundurl: ./src/img/shubham-dhage-7ZyfWyZb8-Y-unsplash.jpg
backgroundcredit: background by&nbsp;<a href="https://unsplash.com/@theshubhamdhage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shubham Dhage</a>&nbsp;on&nbsp;<a href="https://unsplash.com/@theshubhamdhage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
---


{% block content %}
  {% set posts = collections[tag] %}
  {% include 'snippets/postloop.njk' %}
  <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
{% endblock %}
